# Binaries
plr
*.exe
**/bin/pulumi
apps/grafana/grafana
apps/loki/loki
apps/otlp/otlp
apps/pyroscope/pyroscope
apps/tempo/tempo
apps/victoriametrics/victoriametrics

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
